<div th:fragment="content">
	<div class="homepage home-section text-center">
	    <div class="welcome-text">
			<h2>GIT 工具集</h2>
			<div class="subscribe-form">
	             <div class="row">
	               <input name="startExportLog" type="button" class="button default" id="startExportLog" value="导出日志"/>
	               <input name="startMore" type="button" class="button default" id="startMore" value="更多 ..."/>
	             </div>
			</div>
	    </div>
	</div>
</div>

<div th:fragment="menu">
	<li>
		<a class="active button-home" href="javascript:void(0)"><i class="fa fa-home"></i>Home</a>
	</li>
</div>

<div th:fragment="script">
	<script>
	(function($) {
		"use strict";

	    $(".main-menu a.button-home").click(function() {
		    $("#menu-container .content").slideUp("slow");
		    $("#menu-container .homepage").slideDown("slow");
		    $(".logo-top-margin").animate({ marginLeft: "40%" }, "slow");
		    $(".logo-top-margin").animate({ marginTop: "20px" }, "slow");
		    return false;
		});
	    
	    $("#startExportLog").click(function(){
	    	var repos = $.settingRepoPaths()||"";
	    	if (! repos.trim()) {
	    		alert("未设置 本地 Repo 路径");
	    		return;
	    	}
			$.ajax({
				type : "post",
				dataType : 'json',
				url : "./service/export-stat-detail",
				contentType : 'application/json',
				data : repos,
				success : function(d) {
					if (d.success){
						alert(d.message);
						window.open("/file/"+d.downloadAddress);
					}else{
						alert("程序运行错误 - "+JSON.stringfy(d));
					}
				},
				error: function(xhr, status, error){
			        var errorMessage = xhr.status + ': ' + xhr.statusText
			        alert('系统错误 - ' + errorMessage);
			        if (xhr.responseText){
			        	throw xhr.responseText;
			        }
			    }
			});
		});

			$("#startMore").click(function() {
				alert("更多功能持续增加中 ...");
			});
		})(jQuery);
	</script>
</div>
