<!DOCTYPE html>
<html>
  <head>
    <title>Pivot Table Analyzer</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <script type="text/javascript" src="./lib/plotly-1.54.7.js" charset="utf-8"></script>
    <script type="text/javascript" src="./lib/jquery-3.5.1.js" charset="utf-8"></script>
    <script type="text/javascript" src="./lib/jquery-ui-1.12.1.js" charset="utf-8"></script>
    <script type="text/javascript" src="./lib/papaparse-5.2.0.js" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="./pivottable-2.23.0-dist/pivot.css"/>
    <script type="text/javascript" src="./pivottable-2.23.0-dist/pivot.js" charset="utf-8"></script>
    <script type="text/javascript" src="./pivottable-2.23.0-dist/pivot.zh.js" charset="utf-8"></script>
    <script type="text/javascript" src="./pivottable-2.23.0-dist/plotly_renderers.js" charset="utf-8"></script>
    
    <script type="text/javascript" src="../modules/3rd/jstorage.js" charset="utf-8"></script>

    <style>
      body {
        font-family: Verdana;
      }
    </style>
  </head>
  <body>
    <script type="text/javascript">
        $(function () {
          var derivers = $.pivotUtilities.derivers;
          var aggregatorTemplates = $.pivotUtilities.aggregatorTemplates;
          var renderers = $.extend($.pivotUtilities.renderers, $.pivotUtilities.plotly_renderers);
          
          var fileName = $(location).attr('hash');
          if (fileName){
        	  fileName = fileName.substring(1);	//cut first "#" of url anchor part
          }
          if (! fileName || !(fileName.endsWith(".csv")) ){
        	  alert("未传入文件名, 或者文件扩展名不是 '.csv'.");
        	  return;
          }
          
          document.title = "Pivot Table Analyzer - " + decodeURIComponent(fileName);
          
          var derivedAttributes = {
        		  "年": function(record){
        			  var d = new Date(record["提交时间"]);
        			  return d.getFullYear();
        		  },
        		  "年/月份": function(record){
        			  var d = new Date(record["提交时间"]);
        			  return d.getFullYear()+"/"+(d.getMonth()+1);
        		  },
        		  "星期": function(record){
        			  var d = new Date(record["提交时间"]);
        			  return d.getDay();
        		  },
        		  "时段": function(record){
        			  var d = new Date(record["提交时间"]);
        			  var hour = d.getHours();
        			  if (hour>=8 & hour<18){
        				  return "08-18";
        			  }
        			  if (hour>=18 & hour<24){
        				  return "18-24";
        			  }
        			  if (hour>=0 & hour<8){
        				  return "00-08";
        			  }
        		  },
        		  "修改行数": function(record){
        			  return parseInt(record["新增行数"])+parseInt(record["删除行数"]);
        		  }
          };
          
          Papa.parse("/file/"+fileName, {
            download: true,
            skipEmptyLines: true,
            complete: function (parsed) {
              $("#output").pivotUI(parsed.data, {
                renderers: renderers,
                cols: ["分支", "作者", "时段"], rows: ["Repo"],
                aggregatorName: "求和后取整", vals: ["修改行数"],
                rendererName: "Heatmap",
                derivedAttributes: derivedAttributes
              }, false, "zh");
            }
          });
        });
    </script>
    <div id="output" style="margin: 30px;">正在启动 PivotTable ...</div>
  </body>
</html>
