<!DOCTYPE html>
<html>
  <head>
    <title>Git Tools</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="_/css/normalize.css" />
    <link rel="stylesheet" href="_/css/font-awesome.css" />
    <link rel="stylesheet" href="_/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_/css/templatemo-style.css" />
    <script src="_/js/jquery-3.5.1.js"></script>
    <script src="_/js/plugins.js"></script>
    <script src="./modules/3rd/jstorage.js"></script>
  </head>
  <body style="">
    <div class="site-bg"></div>
    <div class="site-bg-overlay"></div>

    <!-- TOP HEADER -->
    <div class="top-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p class="phone-info">
              Call us:
              <a href="javascript:void(0)">thinkbase.net@gmail.com</a>
            </p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="social-icons">
              <ul>
                <li>
                  <a href="http://thinkbase.net/" target="blank" class="fa fa-link"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .top-header -->

    <div class="visible-xs visible-sm responsive-menu">
      <a href="javascript:void(0)" class="toggle-menu">
        <i class="fa fa-bars"></i> 功能菜单
      </a>
      <div id="show-menu" class="show-menu">
        <ul class="main-menu"><!-- Same as #nav .main-menu --></ul>
      </div>
    </div>
    <div class="copyrights">
      Collect from <a href="http://www.cssmoban.com/">免费模板</a>
    </div>
    <div class="container" id="page-content">
      <div class="row">
        <div class="col-md-9 col-sm-12 content-holder">
          <!-- CONTENT -->
          <div id="menu-container">
            <div class="logo-holder logo-top-margin">
              <a href="javascript:void(0)" class="site-brand"><img src="./app/logo.png" alt=""/></a>
            </div>

            <div th:replace="modules/home::content">HOME</div>
            <div th:replace="modules/settings::content">SETTINGS</div>

          </div>
        </div>

        <div class="col-md-3 hidden-sm">
          <nav id="nav" class="main-navigation hidden-xs hidden-sm">
            <ul class="main-menu">
              <li th:replace="modules/home::menu">HOME</li>
              <li th:replace="modules/settings::menu">SETTINGS</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- SITE-FOOTER -->
    <div class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              Copyright © 2020 thinkbase.net
            </p>
            <p style="font-size: 80%">
              Template: Rectangle is free mobile template brought to you by
              <span class="orange">template</span><span class="green">mo</span>.com website
              <br/>
              Powered By: <span th:text="${version}">...</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- .site-footer -->
    
    <script src="./app/main.js"></script>

	<script th:replace="modules/home::script"></script>
	<script th:replace="modules/settings::script"></script>
    
    <!-- templatemo 439 rectangle -->
  </body>
</html>
